<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TOP RANKING</title>
  <link rel="stylesheet" href="./css/rank.css">
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
</head>

<body>
  <div id='app' v-cloak>
    <div id="wrap">
      <!-- nav -->
      <nav class="rank-nav">
        <span class="nav-title">월간 랭킹</span>
      </nav>
      <!-- nav -->


      <div id="container">
        <div class="content clearfix">
          <div class="best-rank">
            <div class="title">
              <ul class="rankList">
                <li v-for="rankList in rank">
                    <span>{{ rankList.name }}:: {{ rankList.score }}</span>
                    <!-- removeBtn을 클릭했을 때, removeItem() -->
                    <span class="removeBtn" v-on:click="removeItem(todo, index)">X</span>
                </li>
            </ul>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="inputBox">
      <input class="name" type="text" placeholder="name ..." v-model="name">
      <input class="item" type="text" placeholder="type anything welcomed ..." v-model="newTodoItem"
        v-on:keyup.enter="addTodo()">
      <button v-on:click="addTodo()">ADD</button>
    </div>



  </div>
  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    // 앱 생성 및 식별자 선언
    const app = createApp({
      data() {
        return {
          name: '',
          score: 0,
          rank: [],
        }
      },
      // 앱이 생성될 때 실행, 초기 DOM 랜더링이 됨
      created: function () {
        this.fetchData();
      },
      methods: {
        // 서버로 데이터를 요청: url = http://localhost:3000/todoitems
        // axios(url).then(성공했을 때실).catch(실패했을 때 실행)
        fetchData: function () {
          // axios 공식문서 : https://github.com/axios/axios
          let url = 'http://localhost:3000/todoitems'
          // axios 구문아에서 현재 객체를 참조할 수 없기 때문
          // 현재 객체를 app 변수에 대입을 사용하고, app변수를 사용함
          let vObj = this  // this : 현재 vue 객체
          axios.get(url)
            .then(function (response) {
              // handle success
              // console.log(response);
              // console.log(response.data);
              vObj.todoItems = response.data;
              // console.log(vObj.todoItems)
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
        },

        addTodo: function () {
          // app 객체의 속성을 지정할 때, this.name
          // console.log("add_todo()...");
          // input에 입력한 값 변수 값 가져오기
          // console.log(this.name, this.newTodoItem)

          // 예외 처리:
          // 이름, 하일을 넣지 않았을 때, alert()
          // 이름 기본, 'joy' 함
          // this.name, this.newTodoItem
          if (this.newTodoItem == '') {
            alert("할일을 입력하세요.");
            return
            // return 의미: cpu의 제어권을 호출한 곳으로 넘김
            // return 문장 이후의 함수 내의 문장은 실행이 안됨
          }
          // name이 null 이면, 기본(default)로 joy를 넣음
          if (this.name == '') this.name = 'joy';

          // axios post
          const app = this // axio에서 vue 객체를 인식하도록 하기위한 변수
          const url = "http://localhost:3000/todoitems"
          const formData = { name: this.name, item: this.newTodoItem }
          axios.post(url, formData)
            .then(function (res) {
              console.log(res)
              // console.dir(res)
              app.todoItems.push({ id: res.data.id, name: res.data.name, item: res.data.item });

              console.log(app.todoItems)
              // this.name, this.newTodoItem를 todoItems 배열에 추가하기
              // this.todoItems.push({name: this.name, item: this.newTodoItem});
            })
            .catch(function (err) {
              console.error(err)
            })

          // input 박스의 입력 값 제거
          this.clearInputBox()
        },
        // input 박스의 입력 값 제거 함수
        clearInputBox: function () {
          this.name = ''
          this.newTodoItem = ''
        },
        // item 삭제 함수 정의
        removeItem: function (todo, index) {
          // console.log(todo, index)
          // 선택한 todoitem index부터 1개 삭제(자기자신 삭제)
          // this.todoItems.splice(index, 1)

          const app = this // axio에서 vue 객체를 인식하도록 하기위한 변수
          const url = `http://localhost:3000/todoitems/${todo.id}`
          console.log(url)
          // axios delete
          axios.delete(url)
            .then(function (res) {
              console.log("삭제 성공 : ", res)
              app.todoItems.splice(index, 1);    /* from index, count */
              console.log("todoList : ", app.todoList)
            })
            .catch(function (err) {
              console.error("삭제 실패: ", err)
            })

        }
      },
    })

    // 앱을 DOM의 요소와 mount시킴
    app.mount('#app')
  </script>

</body>

</html>